<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>


<form action="" method="POST">
  <label>Album Name</label> 
  <input type="text" name="album[name]"> 
  <input type="submit">
</form>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
