Welcome to
<h1>Recordly</h1>

<hr>

<!-- placeholders -->

<%= link_to "Artists", artists_path %>
<%= link_to "Albums", albums_path %>

<!--

All Artists  <br/>
All Albums   <br/>
All Songs    <br/>
My Favorites <br/>
-->
